/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21.06.2016, 13:39:35
    Author     : izh335b-11
*/

#preview {
    width: 80%; max-width: 300px;
}
#preview img {
    width: 100%;
}
.hiddenfile {
    width: 0px;
    height: 0px;
    overflow: hidden;
}
#map-page, #map-canvas { width: 50%; height: 50%; padding: 0; }

.controlgroup-textinput{
    padding-top:.22em;
    padding-bottom:.22em;
}

#imagess{
    padding-top: 30px;
}